<h1>Project Role <a routerLink="newproject" class="btn btn-sm btn-success">+</a></h1>
<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered table-center">
    <tr>
    <th>
      Id project role
    </th>
    <th>
      Name project role
    </th>
    <th>
      Action
    </th>
    </tr>
    <tr *ngFor="let project of projectroles | async">
      <td>
        {{project.id}}
      </td>
      <td>
        {{project.name}}
      </td>
      <td>

        <button (click)="delete(project)" type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
  </table>
</div>
